.header {
    display: flex;
    justify-content: space-between; /* Space out the title and nav-menu */
    align-items: center;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
    padding: 0 20px; /* Add padding to give some space on both sides */
    transition: background-color 0.3s ease;
}

/* Ensure that the navbar items (links) move slightly to the left */
.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-start; /* Align items to the left */
}

.navbar-title {
    margin-left: 0; /* No need for margin-left here as padding already applied */
    font-size: 2rem; /* Adjust size if needed */
    font-weight: bold;
    color: white;
}

/* Hamburger menu adjustments */
.hamburger {
    display: none;
    cursor: pointer;
    /* Styling for the hamburger menu button */
}

.header-bg {
    background-color: rgba(0, 0, 0, 0.85);
    transition: 0.5s;
}

.nav-menu li {
    padding: 1rem 0;
    position: relative;
}

.nav-menu li a {
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.nav-menu li a:hover {
    color: #ffcc00;
    transform: scale(1.1);
}

.nav-menu li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ffcc00;
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-menu li:hover::after {
    width: 100%;
    left: 0;
}

@media screen and (max-width: 1040px) {
    .nav-menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: left 0.3s ease;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li {
        padding: 1rem 0;
    }

    .nav-menu li a {
        font-size: 1.2rem;
    }

    .hamburger {
        display: block;
        background-color: #ff6347;
        border-radius: 5px;
        padding: 10px;
        transition: background-color 0.3s;
    }

    .hamburger:hover {
        background-color: #ffcc00;
    }
}

@media screen and (max-width: 640px) {
    .nav-menu li a {
        font-size: 1rem;
    }

    .header h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .nav-menu li a {
        font-size: 0.9rem;
    }

    .header h1 {
        font-size: 1.2rem;
    }
}
